extends layout

block content
  h1= title

  form(action="update", method="POST")
    label Name:
      input(type="text" value=category.name required name="name")
    label Description:
      input(type="text" value=category.description required name="description")
    input(type="submit", value="Update")